<div class="container mt-5">
  <h1>URL shortener</h1>
  <div>
    <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  </div>
  <div>
    <p>
      Success! Please use this link:
    <p>
      <a href={{URL.originalURLJson}}>http://localhost:3000/shortener/{{URL.idJson}}</a>
  </div>
</div>