<div class="container mt-5 d-flex flex-column align-items-center">
  <h1 class="mb-0">URL shortener</h1>
  <div><img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt=""
      class="my-5">
  </div>
  <!-- input bar -->
  <div class="row justify-content-center" id="input bar">
    <div class="col-12">
      <form action="/shortener">
        <div class="input-group mb-3">
          <input type="text" name="inputOriginalURL" class="form-control" placeholder="Enter original URL..."
            aria-label="originalURL" aria-describedby="originalURL">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="shorten-button">
              Shorten
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>