<div class="container mt-5">
  <h1>URL shortener</h1>
  <div><img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  </div>
  <!-- input bar -->
  <div class="row" id="input bar">
    <div class="col-3">
      <form action="/shortener">
        <div class="input-group mb-3">
          <input type="text" name="keyword" class="form-control" placeholder="Enter original URL..."
            aria-label="original URL" aria-describedby="shorten-button">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">Shorten</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>